# Ambiente Virtual
venv/

# Banco de dados do SQLite
db.sqlite3
*.sqlite3

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de configuração de IDE (como o VS Code)
.vscode/

# Arquivos de log
*.log

# Arquivos de mídia e estáticos (em produção)
/media/
/static_root/